@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.main-header {
    background-color: rgba(255, 144, 14, 0.1);
    max-width: 1920px;
    margin: 0 auto;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 240px;
    margin: 0 auto;

    

}
.navbar ul {
    display: flex;
    gap: 90px;


}
.navbar li {
    list-style: none;
    
    
}
.navbar li a {
    text-decoration: none;
    color: #424242;
    font-size: 18;

}
.navbar h3 {
    font-size: 45px;
    font-weight: 700px;
}
.under-navbar {
    max-width: 862px;
    margin: 0 auto;
}
.under-navbar h3 {
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    margin: 0;
}
.under-navbar p {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #424242;
    padding: 20px 0px;
}
.orange-button {
    background-color: #ff900e;
    font-size: 20px;
    padding: 20px 30px;
    color: white;    
    border: none;
    border-radius: 5px;
}
.button-div {
    display: flex;
    justify-content: center;
}
.header-image {
    display: flex;
    justify-content: center;
    padding: 45px 240px;
}

@media (max-width: 576px) {
  .navbar {
    flex-direction: column;
    gap: 15px;
    padding: 0 20px; /* smaller padding */
  }

  .navbar ul {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 0;
  }

  .navbar h3 {
    font-size: 28px; /* smaller logo */
  }

  .navbar li a {
    font-size: 16px; /* smaller menu */
  }

  .under-navbar h3 {
    font-size: 36px; /* smaller heading */
  }

  .under-navbar p {
    font-size: 14px;
    line-height: 22px;
    padding: 10px 0;
  }

  .orange-button {
    font-size: 16px;
    padding: 15px 25px;
  }

  .header-image {
    padding: 20px 0;
  }

  .main-header {
    padding: 0 10px;
  }
  .header-image img {
    width: 100%;
  }
}