@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.main-header {
    background-color: rgba(255, 144, 14, 0.1);
    max-width: 1920px;
    margin: 0 auto;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;

    

}
.navbar ul {
    display: flex;
    gap: 90px;


}
.navbar li {
    list-style: none;
    
    
}
.navbar li a {
    text-decoration: none;
    color: #424242;
    font-size: 18;

}
.brand {
    font-size: 45px;
    font-weight: 700px;
}
.under-navbar {
    max-width: 862px;
    margin: 0 auto;
}
.under-navbar h3 {
    font-size: 64px;
    font-weight: 700;
    text-align: center;
}
.under-navbar p {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #424242;
    padding: 20px 0px;
}
.orange-button {
    background-color: #ff900e;
    font-size: 20px;
    padding: 20px 30px;
    color: white;    
    border: none;
    border-radius: 5px;
}
.button-div {
    display: flex;
    justify-content: center;
}
.header-image {
    display: flex;
    justify-content: center;
    padding: 45px 0px;
    
}
.header-image img {
    width: 100%;
    max-width: 1440px;
}

@media (max-width: 576px) {
  .navbar {
    flex-direction: column; /* smaller padding */
  }

  .navbar ul {
    gap: 13px;
    align-items: center;
    padding: 0;
    
  }
  

  .brand {
    font-size: 33px; /* smaller logo */
  }

  .navbar li a {
    font-size: 16px; /* smaller menu */
    background-color: rgb(255, 230, 197);
    padding: 6px 8px;
    border-radius: 15px;
  }

  .under-navbar h3 {
    font-size: 33px;
    margin-top: 20px; /* smaller heading */
    margin-bottom: 0px;
  }

  .under-navbar p {
    font-size: 14px;
    line-height: 22px;
    padding: 10px 0;
  }

  .orange-button {
    font-size: 16px;
    padding: 15px 25px;
  }

  .header-image {
    padding: 20px 0;
  }

  .main-header {
    padding: 0 10px;
  }
  .header-image img {
    width: 100%;
  }
}
.image-text-container {
  display: flex;
  gap: 73px;
  max-width: 1440px;
  width: 100%;
  margin: 85px auto;
}
.text-container {
  margin: auto 0;
}
.image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.text-container h3 {
  font-size: 45px;
  margin-bottom: 30px;
}
.text-container p {
  font-size: 16px;
  color: #868585;
  margin-bottom: 30px;
  line-height: 26px;
  max-width: 537px;
}
.gray-text {
  color: #868585;
  font-weight: 500;
}
.orange-text {
  color: #ff900e;
}