@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.main-header {
    background-color: rgba(255, 144, 14, 0.1);
    max-width: 1920px;
    margin: 0 auto;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    

}
.navbar ul {
    display: flex;
    gap: 90px;

}
.navbar li {
    list-style: none;
    
    
}
.navbar li a {
    text-decoration: none;
    color: #424242;
    font-size: 18;

}
.navbar h3 {
    font-size: 45px;
    font-weight: 700px;
}